
@media (max-width:992px) {
	header #man-photo-1 {
		background-image: url(../img/man-1.jpg);
		height: 50vh;
	}
}

@media (min-width:992px) {
	header #man-photo-2 {
		background-image: url(../img/man-2.jpg);
		height: 70vh;
	}
}

@media (min-width:1170px) {
	header #man-photo-3 {
		background-image: url(../img/man-1.jpg);
		height: 100vh;
	} 